@import url("https://p.typekit.net/p.css?s=1&k=qaa0fud&ht=tk&f=18085.24349.24354.24355.28165.35767.35914&a=5050865&app=typekit&e=css");

$fontFamily: ("Gibson", sans-serif);

//=Primary colors=======================================================================================================================================================
$primary-footer: #032741;
$primary-primary: #032741;
$primary-hover: #D1D6DA;
$primary-fon: #F2F3F4;
$primary-fon-card-1: rgb(0, 116, 172);
$primary-fon-card-2: rgb(235, 106, 57);
$primary-fon-card-3: rgb(107, 55, 124);
$primary-fon-burger: #D1D6DA;
$primary-border: #F2F3F4;
//====Gradient Button====================================================================================================================================================
$button-hover-gradient1: #F2F3F4;
$button-hover-gradient2: #0EB1AF;
$button-hover-gradient3: #0EB1AF;
$button-hover-gradient4: #176968;
$button-hover-gradient5: #032741;


$button-hover-gradient: linear-gradient(
  130deg,
  $button-hover-gradient1 5%,
  $button-hover-gradient2 17%,
  $button-hover-gradient3 40%,
  $button-hover-gradient4 79%,
  $button-hover-gradient5 100%,
);

$button-gradient1: #CDE8E8;
$button-gradient2: #30B8B7;
$button-gradient3: #1A9E9D;
$button-gradient4: #176968;
$button-gradient5: #072C2C;

$button-gradient: linear-gradient(
  135deg,
  $button-gradient1 0%,
  $button-gradient2 36.5%,
  $button-gradient3 76%,
  $button-gradient4 100%,
);
// //=Gradient Icons=======================================================================================================================================================
$icon-gradient1: #CDE8E8;
$icon-gradient2: #30B8B7;
$icon-gradient3: #1A9E9D;
$icon-gradient4: #176968;
$icon-gradient5: #072C2C;

$icons-gradient: linear-gradient(
  135deg,
  $icon-gradient1 0%,
  $icon-gradient2 37%,
  $icon-gradient3 76%,
  $icon-gradient4 100%
);
//=Gradient Fon (TURCO Dark)=======================================================================================================================================================
$fon-gradient1: #CDE8E8;
$fon-gradient2: #30B8B7;
$fon-gradient3: #1A9E9D;
$fon-gradient4: #176968;
$fon-gradient5: #072C2C;

$primary-gradient: linear-gradient(
  139deg,
  $fon-gradient1 0%,
  $fon-gradient2 16.91%,
  $fon-gradient3 39.6%,
  $fon-gradient4 78.5%,
  $fon-gradient5 100%
);
//=Secondary colors=======================================================================================================================================================
$secondary-black: #030110;
$secondary-white: #F2F3F4;
$secondary-text: #363636;
$secondary-gray: #D1D6DA;
$secondary-hover: #ededed;
$secondary-error: #f94949;
$secondary-positive: #1ba161;
//=Fonts=======================================================================================================================================================

$h1-font: (
  "font-family": (
    "canada-type-gibson",
    sans-serif,
  ),
  "font-size": 40px,
  "letter-spacing": 0.01em,
  "font-weight": 600,
  "line-height": 150%,
);

$h2-font: (
  "font-family": (
    "canada-type-gibson",
    sans-serif,
  ),
  "font-size": 24px,
  "letter-spacing": 0.01em,
  "font-weight": 700,
  "line-height": 150%,
);

$h3-font: (
  "font-family": (
    "canada-type-gibson",
    sans-serif,
  ),
  "font-size": 18px,
  "letter-spacing": 0.01em,
  "font-weight": 600,
  "line-height": 150%,
);


$h4-font: (
  "font-family": (
   "Gibson", 
    sans-serif,
    ),
    "font-weight": 700,
    "font-size": 32px,
    "line-height": 1.5,
    "letter-spacing": 0.01em,
    );


$h5-font: (
  "font-family": (
    "",
    sans-serif,
  ),
  "font-size": 32px,
  "letter-spacing": 0.01em,
  "font-weight": 600,
  "line-height": 150%,
);

$h6-font: (
  "font-family": (
    "Gibson",
    sans-serif,
    ),
    "font-weight": 600,
    "font-size": 20px,
    "line-height": 1.5,
    "letter-spacing": 0.01em,
    );
    

    $button: $h3-font;
    $menu: $h3-font;

$text-20-font: (
  "font-family": (
    "Gibson",
    sans-serif,
  ),
  "font-size": 20px,
  "letter-spacing": 0.01em,
  "font-weight": 400,
  "line-height": 150%,
);

$text-16-font: (
  "font-family": (
    "Gibson",
    sans-serif,
  ),
  "font-size": 16px,
  "letter-spacing": 0.01em,
  "font-weight": 400,
  "line-height": 150%,
);

$text-14-font: (
  "font-family": (
    "Gibson",
    sans-serif,
  ),
  "font-weight": 400,
  "font-size": 14px,
  "line-height": 1.5,
  "letter-spacing": 0.01em,
);

$text-18-font: (
  "font-family": (
    "Gibson",
    sans-serif,
  ),
  "font-weight": 400,
  "font-size": 18px,
  "line-height": 1.5,
  "letter-spacing": 0.01em,
);
$breakpoints: (
  "tn": 320px,
  "md": 768px,
  "xl": 1366px,
  "xxxl": 1920px,
);

//===Other=====================================================================================================================================================
$transition-duration-base: 0.3s;
$transition-timing-base: ease;


