@use "../../styles/mixins" as mix;
@use "../../styles/variables" as var;


.wrapper{
  color: var.$secondary-white;
  padding: 16px 6px 80px 6px;
  margin: auto;
  width: 100%;
  @include mix.media-q("md") {
    padding: 40px 16px;
  }
  
  @include mix.media-q("xl") {
    padding: 10vh 16px;
  }
}

.modal {
  background: var.$primary-fon-card-1;
  color: var.$secondary-black;
  @include mix.apply-font-styles(var.$text-14-font);
  min-height: 300px;
  padding: 60px 40px;
  border-radius: 12px;
  border-width: 2px;
  border-style: solid;
  border-color: var.$primary-border;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  margin: auto;
  color: var.$secondary-black;
  font-weight: 700;
  font-size: 24px;
  @include mix.media-q("md") {
    width: clamp(300px, 92vw, 830px);
    font-size: 32px;
    padding: 140px 10px 88px;
    gap: 32px;
  }

  @include mix.media-q("xl") {
    font-weight: 600;
    font-size: 40px;
    padding: 48px 10px 32px;
  }
  & >a{
    font-size: 18px;
    text-decoration: underline;
    color: rgb(0, 26, 255);
  }
}

.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
  @include mix.media-q("md") {
    gap: 40px;
  }

}

.title {
  @include mix.apply-font-styles(var.$h1-font);
  font-size: 20px;
  @media (min-width: 420px) {
    font-size: 32px;
  }
  @media (min-width: 768px) {
    font-size: 40px;
  }
}


.input {
  width: 100%;
  @include mix.apply-font-styles(var.$text-16-font);
  color: var.$secondary-black;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 10px;
  outline: 0;
  background: var.$secondary-white;
  transition: all var.$transition-duration-base var.$transition-timing-base;
}


.list {
  color: var.$secondary-white;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include mix.media-q("md") {
    gap: 24px;
  }

  .item {
    width: clamp(280px, 84vw, 625px);
    display: flex;
    flex-direction: column;
    position: relative;
  }
}


