@use "../../styles/variables" as var;
@use "../../styles/mixins.scss" as mx;

.section {
  // Header fixed the height
  margin-top: 80px;
  position: relative;
  background: var.$primary-fon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.videoContainer {
  background: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 300px; 
  width: 100%;
  height: 100%;

}

.textContainer {
  color: var.$button-hover-gradient2;
  @include mx.apply-font-styles(var.$h1-font);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  margin-bottom: 56px;
  text-align: center;
  font-family: "Gibson", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  opacity: 0; /* Initially invisible */
  transform: translateY(20px); /* Shifted downward */
  animation: fadeIn 3.5s ease-in forwards; /* Animation time reduced to 1.5s */
    @include mx.media-q("md") {
      @include mx.apply-font-styles(var.$h1-font);
      font-size: 30px;
    }
    @include mx.media-q("xl") {
      @include mx.apply-font-styles(var.$h1-font);
      font-size: 40px;
    }
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Invisible */
    transform: translateY(20px); /* Shifted downward */
  }
  to {
    opacity: 1; /* Visible */
    transform: translateY(0); /* Back to place */
  }
}
