@use "../../styles/variables" as var;
@use "../../styles/mixins.scss" as mx;

.section {
  //Header fixed the height
  margin-top: 80px;
  position: relative;
  background-color: black; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.videoContainer {
  background-color: black; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; 
}

.textContainer{
  background-color: black; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 90px;
  margin-bottom: 56px;
  text-align: center;
  font-family: "Gibson", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.05em;

}