@use "../../../styles/mixins" as mixin;
@use "../../../styles/variables" as var;

.article {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: var.$primary-fon-card-1;
  position: relative;
  overflow: hidden;
}
.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 6%;

  & > img {
    object-fit:fill;
  }
}
.content {
  display: flex;
  flex-direction: column;
}


.heading{
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100px;
  background: rgba(192, 164, 183, 0.6);
  gap: 20px;
  @include mixin.apply-font-styles(var.$h4-font);

}

.shortDesc {
  @include mixin.apply-font-styles(var.$text-16-font);
  display: -webkit-box;
  overflow: hidden;
  margin-bottom: 24px;
  padding: 10px 24px 24px 24px;
}
